<style>
    #qp-embedded-container{
      height: 9em;
      overflow: hidden;
      position: relative;
    }
    
    @media(max-width: 380px){
      #qp-embedded-container { height: 12em; }
    }
  
    #payment-success{
      font-size: 20px;
    }
  
    #pay-button{
      background-color: green;
      padding: 10px 20px;
      color: white;
      font-size: 15px;
      align-self: center;
    }

    #amt-tran{
      padding: 10px 20px;
      font-size: 15px;
    }
</style>
    <body>
      <br />
      <form id="my-payment-form" method="post" action="/">
        <div id="payment-frame">
          <div id="qp-embedded-container" align="center"></div>
          <label for="amt-tran">Sale Amount: </label>
          <input id="amt-tran" type="number" name="amtTran" value="10" step="0.01"></input>
          <input id="pay-button" type="submit" name="submit" value="Pay Now"></input>
        </div>
        <div id="payment-success"></div>
      </form>
      <script src="https://app.qualpay.com/hosted/embedded/js/qp-embedded-sdk.min.js"></script>
      <script>
        //Get an embedded transient key
        function getTransientKey() {
          const url = "http://10.0.0.135:3000/transientkey";
          const method = "GET";
          const headers = new Headers({
            "Accept": `application/json`,
            "Content-Type": `application/json`
          });
          const opts = { method: method, headers: headers }
          const request = new Request(url, opts);
          return fetch(request)
          .then(resp => resp.json())
          .then((output) => {
               if (output.code === 0){
                return output;
              }
              else {
                throw new Error(`Unable to process request. ${output.code} - ${output.message}`);
              }
            });
        }
        //Process payment request on backend
        function postSale(data){
          const url = "http://10.0.0.135:3000/sale";
          const method = "POST";
          const headers = new Headers({
            "Content-Type": `application/json`
          });
          const opts = { method: method, headers: headers, body: JSON.stringify(data) }
          return fetch(url, opts)
          .then(resp => resp.json())
          .then((output) => {
               if (output.code === '000'){
                return output;
              }
              else {
                throw new Error(`Unable to process request. ${output.code} - ${output.message}`);
              }
            });
        }
        //Callback success handler
        const successHandler = (data) => {
          let card_id = data.card_id;
          let card_number = data.card_number;
          qpEmbeddedForm.unloadFrame();
          let postBody = {
            card_id: card_id, 
            amt_tran: document.getElementById("amt-tran").value
          }
          //Use card id with sale
          postSale(postBody)
          .then(response => document.getElementById("payment-success").innerHTML =  `Payment successful. Payment ID: ${response.pgId}`)
          .catch(error => document.getElementById("payment-success").innerHTML =  `Error processing payment. ${error}`)
          .then(() => document.getElementById("payment-frame").hidden = true);
        };
        //Callback error handler
        const errorHandler = (error) => {
            //Handle Errors
          if (error.detail) {
            let errors = "";
            for (let key in error.detail) {
              errors += `${error.detail[key]},`;
              console.log(error.detail[key]);
            }
            alert(errors);
          }
        };
        getTransientKey()
          .then(response => {
            qpEmbeddedForm.loadFrame(response.merchant_id,
              {
                formId: "my-payment-form",
                transientKey: response.transient_key,
                mode: "test",  //Default is test, Replace to "live" in production
                onSuccess: successHandler,
                onError: errorHandler,
              });
          })
          .catch(error => alert(`Unable to load page ${error}`));
      </script>
    </body>